html, body{ 
  width: 100vw; 
  height: 100vh; 
}

video { 
  width: 100vw; 
  height: 100vh; 
  object-fit: cover; 
}

.js-add-gesture{ 
  position: absolute;
  top: 2%;
  right: 7%; 
}

.js-submit{ 
  right: 0%; 
}

.js-count-down-record{ 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  font-size: 90px; 
  color: red; 
}

